{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

    <div class="row">
        <div class="col">
            <h1 class="text-center">
                Именно так.
            </h1>

            <img class="img-fluid" src="{{ asset("image/Medved.jpg") }}" alt="Zloy medved">

            <p class="text-center">
                Выглядит лицо человека, когда он взял себе два пироженных, а потом пришел начальник и одно забрал себе.
            </p>
        </div>
    </div>


{% endblock %}
